
div
{
	border: 1px solid black;
}
header
{
	display: flex;
	flex-direction: column;
}


main
{
	border: 1px solid black;
	display: flex
	flex-direction: column;
	
}

nav
{
	display: flex;
	justify-content: center;
}
header div a
{
	margin: 10px;
}


.classSection{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-flow: center wrap;
	
}

.classSection div
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.classSection div div
{
	height: 215px;
	width: 300px;
	margin: 10px;
	border-radius: 5px;
}